div#footer.container-fluid
  ul.navbar-nav.container
    li.nav-item.row.mx-auto
      a.nav-link.col-lg.align-self-center(href='index') Home
      a.nav-link.col-lg.align-self-center(href='photos') Photos
      a.nav-link.col-lg.align-self-center(href='events') Events
      a#wedWidth.nav-link.col-lg.align-self-center(href='party') Wedding Party
      a.nav-link.col-lg.align-self-center(href='travel') Travel
      a#giftWidth.nav-link.col-lg.align-self-center(href='gifts') Gift Registry
      a.nav-link.col-lg.align-self-center(href='login') Login
