include includes/header
body
  include includes/navbar
  div#events.container-fluid
    h1 Events
    img.floral.mx-auto(
      src='static/content/floral.png'
      alt='Floral'
    )
  div#events-list.container-fluid
    div.row
      div.col
        h1 Rehersal Dinner
        p TBD
    div.row
      div.col
        h1 Photos
        p Loose Park Rose Garden
        p Time TBD
    div.row
      div.col
        h1 Wedding Ceremony & Reception
        p Boulevard Brewing Company | Muehlebach Suite
        p 2501 Southwest Blvd, Kansas City, MO 64108
        ul
          li 5:30pm Doors Open (Open Bar Starts)
          li 6:00pm Ceremony Starts
          li 7:00 pm Dinner
          li 10:15pm Open Bar Ends
          li 10:30pm Event Ends (After Party at Power and Light)
  include includes/footer
