include includes/header
body
  include includes/navbar
  div#events.container-fluid
    h1 Events
    img.floral.mx-auto(
      src='static/content/floral.png'
      alt='Floral'
    )
  div#events-list.container-fluid
    div.row
      div.col-lg#details-col.align-self-center
        h1 Rehersal Dinner
        p TBD in 2019
        h1 Photos
        p Loose Park - in the early afternoon
        h1 Wedding Ceremony & Reception
        p Boulevard Brewing Company | Muehlebach Suite
        p 2501 Southwest Blvd, Kansas City, MO 64108
        ul
          li 5:30pm Doors Open (Open Bar Starts)
          li 6:00pm Ceremony Starts
          li 7:00 pm Dinner
          li 10:15pm Open Bar Ends
          li 10:30pm Event Ends
          li After: Westport
      div.col-lg.align-self-center
        div#map-events
  include includes/footer
include includes/google_maps_events
