include includes/header
body
  include includes/navbar
  div#gifts.container-fluid
    h1 Gift Registry
    img.floral.mx-auto(
      src='static/content/floral.png'
      alt='Floral'
    )
  include includes/footer
