include includes/header
body
  include includes/navbar
  div#gifts.container-fluid
    h1 Gift Registry
    img.floral.mx-auto(
      src='static/content/floral.png'
      alt='Floral'
    )
  div#gifts-details.container-fluid
    div.row.justify-content-center
      div.col.align-self-center
        p Gift Registry at Wayfair
        a(href='https://www.wayfair.com/registry/wedding/RoberdolaWedding') https://www.wayfair.com/registry/wedding/RoberdolaWedding
  include includes/footer
