include includes/header
body
  include includes/navbar
  div#photo.container-fluid
    img.mx-auto(
      src='static/content/danny_meg.png'
      alt='Danny and Meg'
    )
  div#homepage-text.container-fluid
    p Please join us for our wedding celebration on
    h1 July 20, 2019
    img.floral.mx-auto(
      src='static/content/floral.png'
      alt='Floral'
    )
    h1 Our Story
    div#story.container-fluid
      p Danny and Meg met in 2012 after moving halfway around the world to Shanghai, China. Danny worked at the Marriott Renaissance Hotel while Meg taught in local schools and then at the SMIC International School. They first met while Meg and her parents were staying at the Renaissance Hotel. After meeting her parents first, Danny was introduced to another new Shanghai resident and the two hit it off right away.
      p They lived in Shanghai, China for three years traveling, trying new foods, and meeting new friends. The joined a local softball league together and learned that a small rice cooker can cook a lot of different foods (including cake!). After enjoying their time in China, the two moved to Orange County to be closer to Danny's family and friends.
      p Another three years together in sunny California with beach, sun, sand, and Disneyland. On a family trip to Japan, Danny and Meg took a pit stop to visit old friends and haunts in Shanghai. Their first night in town, Danny took Meg on a redo of their first date and proposed on the Bund while overlooking the Shanghai skyline. 
      p Now residents of Kansas City, the two look forward to starting the next chapter of their lives together.
  include includes/footer
