include includes/header
body
  include includes/navbar
  div#travel.container-fluid
    h1 Travel
    img.floral.mx-auto(
      src='static/content/floral.png'
      alt='Floral'
    )
  div#travel-details.container-fluid
    div.row.justify-content-center
      div.col.align-self-center
        p.sub-head Hotel Accomodations
        p TBD
    div.row.justify-content-center
      div.col.algin-self-center
        p.sub-head City Guide
  include includes/footer
