//navigation
.navbar {
  button {
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }
    .fas {
      padding-top: 5px;
      color: grey;
      &:hover {
        color: $pale-pink;
      }
    }
  }
}

.nav-link {
  padding-top: 8px;
  padding-bottom: 8px;
}
#wedWidth {
  width: 32rem;
}

.navbar, #footer {
  a {
    color: grey;
    &:hover {
      &:nth-child(even){
        color: $pale-pink;
      }
      &:nth-child(odd) {
        color: $green;
      }
    }
  }
}

//text styling across site
h1 {
  font-family: 'Pinyon Script', cursive;
}

span, p, a, li {
  font-family: 'Cantata One', serif;
}

//homepage styling
#headerImg {
  background-image: url('/static/content/floral.png');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 150px;
  margin-bottom: 1.25rem;
  h1 {
    font-size: 75px;
    padding-top: 40px;
  }
  span {
    font-size: 37.5px;
    padding-right: 20px;
  }
}

#photo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  img {
    display: block;
    width: 50%;
    height: auto;
    box-sizing: border-box;
    border: solid 8px #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  }
}

#homepage-text {
  text-align: center;
  margin-top: 5rem;
  h1 {
    font-size: 50px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 2rem;
  }
  #story {
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10rem;
    margin-top: 5rem;
    p {
      margin-bottom: 1rem;
    }
  }
}

.floral {
  @include tiny-floral;
}

@media (max-width: 992px){
  #homepage-text {
    #story {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

@media (min-width: 992px) {
  .nav-link {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  #photo {
    img {
      width: 40%;
    }
  }
  #homepage-text {
    #story {
      padding-left: 200px;
      padding-right: 200px;
    }
  }
}
