#loginPage {
  width: 80%;
  #login {
    text-align: center;
    margin-top: 6rem;
    #newUser {
      text-decoration: none;
      color: black;
      &:hover {
        color: $pale-pink;
      }
    }
    #form-radios {
      .row {
        margin-top: 2rem;
        label {
          margin-left: 1rem;
        }
      }
    }
    #form-password {
      margin-top: 3rem;
      input {
        text-align: center;
        margin-right: 2rem;
      }
      button {
        &:hover {
          background-color: $pale-pink;
        }
      }
    }
  }
}

#createUserPage {
  text-align: center;
  form {
    margin-top: 4rem;
    .password {
      margin-left: 2rem;
      margin-bottom: 1rem;
    }
  }
  button {
    &:hover {
      background-color: $pale-pink;
    }
  }
}
