#party-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  .party-row {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
  .party-photos {
    width: 300px;
    height: auto;
  }
}

.sub-head {
  font-family: 'Pinyon Script', cursive;
  font-size: 25px;
}

#party-title {
  @include heading;
}
