#travel {
  @include heading;
}

#travel-details {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 80%;
  .fas {
    color: $pale-pink;
  }
  #cityGuide {
    .fas {
      margin-top: 6rem;
      color: $green;
    }
  }
  .row {
    margin-top: 6rem;
    .col-lg {
      &:first-child {
        margin-bottom: 4rem;
      }
    }
  }
}
